{% if items %}
    <table class="table table-hover">
        <tr>
            <th style="width: 50px;">Комнаты</th>
            <th>Адрес</th>
            <th class="align-center">Этаж</th>
            <th class="align-center">Тип дома</th>
            <th>Площадь (О Ж К)</th>
            <th>Цена</th>
            <th>Телефон</th>
            <th class="align-center">Санузел</th>
            <th>Субьект</th>
            <th>Доп инфо</th>
        </tr>
        {% for item in items %}
            <tr>
                <td class="align-center">{{ item.rooms }}</td>
                <td>{{ item.address }}</td>
                <td class="align-center">{{ item.floor }}</td>
                <td class="align-center">{{ item.buildType }}</td>
                <td>{% if item.area %}{{ item.area.all }} / {{ item.area.live }} / {{ item.area.kitchen }}{% endif %}</td>
                <td>{{ item.price }} руб</td>
                <td>{{ item.phone }}</td>
                <td class="align-center">{{ item.bathroom }}</td>
                <td>{{ item.subject }}</td>
                <td>{{ item.info }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}