{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Поиск квартир{% endblock %}
{% block h1 %}Поиск квартир{% endblock %}

{% block body %}
    <div class="search-form-wrapper">
        {% if form %}
            {{ form_start(form) }}
            <div class="row-wrapper price-wrapper">
                <div class="form-label">{{ form_label(form.priceFrom) }}</div>

                <div>
                    <div class="float-left">
                        {{ form_widget(form.priceFrom) }}
                    </div>
                    <div class="float-left input-space">&ndash;</div>
                    <div class="float-left">
                        {{ form_widget(form.priceTo) }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

             <div class="row-wrapper">
                 <div class="rooms-wrapper float-left">
                     <div class="form-label">{{ form_label(form.rooms) }}</div>
                     <div>{{ form_widget(form.rooms) }}</div>
                 </div>

                 <div class="stations-wrapper float-left">
                     <div class="form-label">{{ form_label(form.stations) }}</div>
                     <div>{{ form_widget(form.stations) }}</div>
                 </div>

                 <div class="clear"></div>
             </div>

            <div class="row-wrapper button-wrapper">
                <div class="float-left">
                    <input type="submit" name="search" value="Поиск квартир" class="btn btn-primary">
                    <img src="{{ asset('img/ajax-loader.gif') }}">
                </div>

                <div class="float-right">
                    <a class="clean-link" href="{{ path("search_index") }}">Cбросить фильтр</a>
                </div>

                <div class="clear"></div>
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>

    <div class="search-form-result table-wrapper">
        {{ include('AppBundle:Search:form.result.table.html.twig', { 'items': items }) }}
    </div>
{% endblock %}
