.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

.cursor-pointer{
    cursor: pointer;
}

.display-none{
    display: none;
}

.search-form-wrapper{
    background: #f3f3f3;
    min-width: 300px;
    display: inline-block;
    padding: 15px 20px;
}

.body-wrapper{
    padding: 20px;
}

.row-wrapper{
    margin: 0px 0 20px 0;
}

.table th{
    background: #ededed;
}

.align-center{
    text-align: center;
}

.table-wrapper{
    margin: 40px 0 0 0;
}

.price-wrapper input[type=text]{
    width: 80px;
}

.price-wrapper div.input-space{
    padding: 5px 10px 0 10px;
}

.rooms-wrapper select{
    width: 70px;
    margin: 0 40px 0 0;
}

.stations-wrapper select{
    width: 250px;
}

.button-wrapper a{
    margin: 10px 0 0 20px;
    display: inline-block;
}

.button-wrapper img{
    display: inline-block;
    margin: 0 0 0 5px;
    display: none;
}

